.note-card {
  display: flex;

  .add-icon {
    padding: 15px;
  }

  .color-palette-container {
    .color-palette {
      width: 25px;
      height: 25px;
      padding: 0px;
      margin: 5px;
    }

    .palette-1 {
      background-color: #A6A6A6;
    }
    .palette-2 {
      background-color: #EDA6A6;
    }
    .palette-3 {
      background-color: #A6EDA6;
    }
    .palette-4 {
      background-color: #A6A6ED;
    }
    .palette-5 {
      background-color: #F5F5F5;
    }

    .color-palette--selected {
      border: 2px black solid;
    }
  }
}
