.note-card {
  display: flex;
  margin: 12px;
  display: inline-block;

  .card-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;

    .card-header-left {
      display: flex;
    }
  }

  .card-container {
    display: flex;
    flex-direction: column;

    .title-container {
      margin-bottom: 8px;

      .title-icon {
        margin-right: 8px;
        margin-bottom: 4px;
        font-size: 40px;
      }
    }
  }

  .note-card-short-view {
    display: flex;

    .short-view-container {
      padding-right: 20px;
      max-width: 220px;

      .no-margin {
        margin: 0px;
      }

      .italic {
        font-style: italic;
      }

      h1 {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }

      p {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
      }
    }

    .expand-icon-container {
      display: flex;
      align-items: center;

      .expand-icon {
        height: fit-content;
        width: fit-content;
      }
    }
  }
}
