.landing-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .button-container {
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;

    .button-separator {
      margin: 0 10px;
    }
  }
}
