@import "./App.scss";
@import "./pages/LandingPage/LandingPage.scss";
@import "./pages/LoginPage/LoginPage.scss";
@import "./pages/MyNotesPage/MyNotesPage.scss";
@import "./pages/TokenPage/TokenPage.scss";
@import "./templates/NoteCard/NoteCard.scss";
@import "./templates/NavigationHeader/NavigationHeader.scss";
@import "./templates/GetUserInfo/GetUserInfo.scss";
@import "./molecules/ColorPalettePicker/ColorPalettePicker.scss";
@import "./molecules/ContentTextField/ContentTextField.scss";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
